# Coding Style for EditorConfig
# Author: Aaron Bassett
#
# https://github.com/aaronbassett/EditorConfig
# Released under the MIT license

# top-most EditorConfig file
root = true

# defaults for all filetypes
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
max_line_length = 79
trim_trailing_whitespace = true
insert_final_newline = true

# Experimental / Domain specific properties
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = false
indent_brace_style = KNF

[*.{html,htm}]
trim_trailing_whitespace = false
insert_final_newline = false

[*.py]
max_line_length = 99

# Rubyists like to hide their nested conditionals
[*.{rb}]
indent_size = 2

# Coffeescript inherited Ruby's bad habits
[*.{coffee,coffeescript}]
indent_size = 2

[*.js]
indent_size = 2

[Makefile]
indent_style = tab
insert_final_newline = false